.schedule-table {
    width: 100%;
    table-layout: fixed;
}
.work {
    padding: 2px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
}
.work:hover {
    background-color: #007BFF;
    color: #fff;
}
.not_work{
    padding: 2px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    color: #ccc;
    cursor: default;
}
.schedule-table th {
    background-color: #f0f0f0;
    font-size: 20px;
    text-align: center;
}
td.empty {
    background-color: #fff;
}
#btnCheckOut {
    display: block;
    margin: 0 auto;
}