/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 13, 2023, 8:01:24 AM
    Author     : Admin
*/


.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
  max-height: 140px; /* Giới hạn chiều cao của vùng chứa */
  overflow: hidden; /* Ẩn nội dung vượt quá chiều cao */
}

.service{
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 1.5rem;
}

.service:hover {
    background-color: #f0f5f9;
    box-shadow: 7px 7px 10px #b2c3db;
    transform: translateY(-5px);
    border: 2px solid #ddebff;
}

#pagination-container .active {
    display: flex;
    background-color: #1687ff !important;
    color: #fff;
    align-items: center;
    justify-content: center;
}
#pagination-container .inactive {
    background-color: #fff;
    color: black;
}
.pagination-btn {
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
}
.pagination-btn:hover {
    background-color: rgb(226, 226, 226);
}