/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 13, 2023, 8:01:24 AM
    Author     : Admin
*/

body{
    background-color: aliceblue;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-container {
    max-height: 140px; /* Giới hạn chiều cao của vùng chứa */
    overflow: hidden; /* Ẩn nội dung vượt quá chiều cao */
}

.service{
    border: 2px solid #f7f7f7;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 1.5rem;
    background: white;
}
.inactives{
    background-color: #dddddd;
    border:0;
    color: #7c7c7c
}

.service:hover {
    background-color: #f0f5f9;
    box-shadow: 7px 7px 10px #b2c3db;
    transform: translateY(-5px);
    border: 2px solid #ddebff;
}
.inactives:hover{
    background-color: #ededed;
    border:0;
    box-shadow: 7px 7px 10px #c3c3c3;
}
#pagination-container .active {
    display: flex;
    background-color: #1687ff !important;
    color: #fff;
    align-items: center;
    justify-content: center;
}
#pagination-container .inactive {
    background-color: #fff;
    color: black;
}
.pagination-btn {
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
}
.pagination-btn:hover {
    background-color: rgb(226, 226, 226);
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.button-icon:hover{
    background-color: rgb(193 193 193 / 30%);
}

.button-icon img{
    width: 2.5rem;
    border-radius : 50%;
    object-fit: contain;
}

.button-edit{
    width: 4rem;
    height: 4rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.button-edit img{
    width: 4rem;
    height: 3rem;
    object-fit: contain;
}
.fit-content-width {
    width: fit-content;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
