
h3.section-title {
	font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 150%;
/* or 39px */

text-transform: uppercase;

/* A12 */

color: #2F4857;
}
h3.section-title.text-white {
	color: #fff;
}
p {
	font-weight: 400;
}
p b, p strong {
	font-weight: 700;
}
button:focus {
	outline: none;
}
a {
	transition: all 0.3s;
  }
  a:hover {
	/*color: #00BB6D!important;*/
  }
  input:focus, select:focus {
  	outline: none;
  }
  a.more, .wpcf7-submit,.appointment-form-popup button, button.more {
	background-color: #00BB6D!important;
	border: 1px solid #00BB6D!important;
    padding: 5px 15px!important;
    border-radius: 4px!important;
    color: #fff!important;
	cursor: pointer!important;
	width: 100%!important;
	height: 45px!important;
  }
  button.more {
	  margin-top: 20px;
  }
  a.more:hover, .wpcf7-submit:hover, .appointment-form-popup button:hover,.search-group button:hover,button.more:hover {
	  background-color: #fff!important;
	  color: #00BB6D!important;
  }
body{
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	font-size: 16px;
	color: #2F4857;
}
h1{
	font-size: 2rem;
}
h2, h3{
	font-size: 1.75rem;
}
h3, h4 , h5{
	font-size: 1.5rem;
}
.cwhite{
	color: #fff;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.aft{
	align-items: flex-start;	
}
.link{
	color: blue;
}
.link-green:hover{
	color: #00BB6D;
}
.footer-menu ul, .footer-menu  {
	list-style: none;
	padding-left: 0;
}


/*Firstload*/

.page-banner{
	background-size: cover;
	background-position: center;
}
.page-banner .overlay{
	width: 100%;
	height: 100%;
}

.wrap-header .info1{
	background-color: #00BB6D;
	padding: 4px 10px;
	border-radius: 4px;
}
.wrap-header .info2{
	background-color: #E1251B;
	padding: 4px 10px;
	border-radius: 4px;
}
.wrap-banner .owl-dots{
	position: absolute;
	width: 100%;
	bottom: 75px;
}
.wrap-banner .owl-dots .owl-dot span {
   border: 1px solid #fff;
   background: none;
}
.wrap-banner .owl-dots .owl-dot:hover span, .wrap-banner .owl-dots .owl-dot.active span {
	background: #fff;
}
.top-info p {
	display: inline-block;
}
.sticky {
	position: fixed!important;
	top:0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: #fff;
	height: 100px;
	animation: smoothScroll 1s forwards;
	border-bottom: 2px solid #00BB6D;
}
.sticky  .navbar {
	margin-top: 0;
	align-items: center;
}
.sticky  .main-menu .sub-menu {
	top: 68px;
}
.sticky .logo-top{
	height: 70px;
	width: auto;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
body.home .wrap-banner .owl-prev{
	background-image: url(../../../../../../themes/hongngoc/images/icon-left.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
}
body.home .wrap-banner .owl-next{
	background-image: url(../../../../../../themes/hongngoc/images/icon-right.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
}
body.home .wrap-dichvu .owl-prev{
	background-image: url(../../../../../../themes/hongngoc/images/icon-left.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
}
body.home .wrap-dichvu .owl-next{
	background-image: url(../../../../../../themes/hongngoc/images/icon-right.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10px;
}
.btn-call-footer{
	max-width: 60px;
	height: auto;
}
 .section-1{
	width: 100%;
	position: relative;
	margin-top: -64px;
	z-index: 2;
}
.section-1 .content {
	display: flex;
	background: #fff;
	height: 64px;
	align-items: center;
	
}
.section-1 .content .item {
	width: 25%;
	text-align: center;
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: relative;
}
.section-1 .content .item:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 32px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #00BB6D;
}
.section-1 .content .item:last-child::after {
	border: none;
}
.section-1 .content .item img.active {
	display: none;
}
.section-1 .content .item:hover {
	background: #00BB6D;
	color: #fff;
}
.section-1 .content .item:hover img.active {
	display: inline-block;
}
.section-1 .content .item:hover img.normal {
	display: none;
}
.section-2{
	padding-top: 120px;
	padding-bottom: 110px;
}
.section-2 .wrap-dichvu .owl-item.center{
	padding-top: 30px;
}
.section-2 .wrap-dichvu .owl-item img{

}
.section-2 .owl-carousel .owl-stage-outer{
	box-sizing: content-box;
	padding-bottom: 50px;
}
.section-3{
	background-image: url(../../../../../../themes/hongngoc/images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 500px;
	padding-top: 70px;
	padding-bottom: 70px;
}
.section-3 .blog-1{
	background-image: url(../../../../../../themes/hongngoc/images/bg-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 340px;
}
.section-3 .blog-1 > div{
    width: 47.4%;
    float: left;
    height: 44.6%;
    background-color: #9DABAF20;
}
.section-3 .blog-1 > div img{
	width: 45px;
	height: auto;
}
.section-3 .blog-1 > div.d2{
	float: right;
	margin-bottom: 36px;
}
.section-3 .blog-1 > div.d4{
	float: right;
}
.section-3 .blog-1 > div.d3{

}
.section-3 .blog-1 > div.d1{
	margin-bottom: 36px;
}
.section-3 .blog-2{
	background-color: #9DABAF20;
	padding: 32px;	
	height: 100%;
}
.section-4{
	padding-top: 120px;
	padding-bottom: 120px;
}
.section-4 .tabs {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}
.section-4 .tabs li{
    cursor: pointer;
	padding: 0px 20px;
}
.section-4 .tabs li:first-child {
	padding-left: 0;
}
.section-4 .tabs li.current ,.section-4 .tabs li:hover{
	
	font-weight: bold;
	color: #00BB6D;
}
.footer {
	border-top: 1px solid #9DABAF;
}
.footer.border-none {
	border: none;
}
.logo-footer{
	margin: auto;
}
.social-footer {
	text-align: center;
	margin-bottom: 30px;
}
.social-footer a {
	margin-left: 10px;
	margin-right: 10px;
}
.social-footer a img:hover {
	fill: red;
}
.nav-right{
	position: fixed;
	right: 0px;
	top: 30vh;
	z-index: 999;
	width: 40px;
	height: 80px;
}
.nav-right > img{
	position: absolute;
	top: 0px;
	left: 0px;
}
.nav-right .d1{
	width: 100%;
	height: 50%;
	position: relative;
}
.nav-right .d2{
	width: 100%;
	height: 50%;
	position: relative;
}
.nav-right .d1 p, .nav-right .d2 p{
	position: absolute;
	right: 0px;
	height: 100%;
	background-color: #00bb6d;
	white-space: nowrap;
	display: flex;
	align-items: center;
	padding: 0px 15px;
	transform: translateX(100%);
	transition: all 0.3s ease-in;
}
.nav-right .d1 p {
	width: 180px;
}
.nav-right .d2 p {
	width: auto;
	padding-right: 18px;
}
.nav-right .d1:hover p{
	transform: translateX(0%);
}
.nav-right .d2:hover p{
	transform: translateX(0%);
}
.msg{
	position: fixed;
	bottom: 6vh;
	right: 30px;
	z-index: 999;
	opacity: 0.5;
	cursor: pointer;
	display: none;
}
.msg:hover{
	opacity: 1;
}
.gototop{
	position: fixed;
	bottom: 6vh;
	right: 86px;
	z-index: 999;
	opacity: 0.5;
	cursor: pointer;
	display:none;
}
.gototop:hover{
	opacity: 1;
}
footer{
	padding-top: 80px;
}
.partners {
	background: #F2F3F8;
	padding-top: 80px;
	padding-bottom: 80px;
}
.list-partner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.list-partner .item {
    line-height: 185px;
	text-align: center;
}
.list-partner .item img {
	width: auto;
	display: inline-block;
}
.list-partner .owl-prev {
	left: -15px;
	position: absolute;
	top: 35%;
}
.list-partner .owl-next {
	right: -15px;
	position: absolute;
	top: 35%;
}
#breadcrumbs {
	margin-top: 25px;
}
.breadcrumb_last {
	color: #00BB6D;
}

	
@media(min-width: 768px) AND (max-width: 992px){
	.main-menu{
		list-style-type: none;
	}
	.main-menu > li::after{
		position: absolute;
		right: 0;
		top: 50%;
		content: '';
		width: 1px;
		height: 20px;
		background: #2F4857;
		transform: translateY(-50%);
	}
	
	.main-menu > li:last-child::after {
		display: none;
	}
	.main-menu > li > a{
		display: block;
		font-size: 16px;
		color: #2F4857;
		padding: 12px 20px;
	}
	.main-menu > li.last{
		border-right: none;
	}
	.main-menu > li:hover > a{
		color: #00BB6D;
	}
	#menu-item-1339-en,#menu-item-1338-vi {
	  display: none;
	}
	.switch-lang-mobile{
	    position: absolute;
	    top: 42px;
	    right: 7px;
	    display: flex;
	    list-style-type: none;
	}
	.switch-lang-mobile > a{
		margin: 0px 5px;
	}
	.mobile-meta{
		right: 105px !important;
	}
}

.page-form	{
    background: #d8ffef;
    padding: 30px 20px 10px 20px;
    height: auto;
    text-align: center;
    margin: 10px auto;
    width: 70%;
    border-radius: 12px;
    border: solid 1px #df3832;
}

.page-form .f-form input, .page-form .f-form select {
    border: solid 1px #00BB6D;
    background: #fff;
    height: 45px;
    width: 100%;
    border-radius: 25px;
}

.page-form .wpcf7-textarea {
background: #ffffff;
    border-radius: 25px;
    border: solid 1px #00BB6D;
    height: 45px;
    width: 100%!important;
}

.page-form submit {
	width: 100%!important;
}
body.page-template-service .list-chuyen-khoa{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
body.page-template-service .list-chuyen-khoa li{
	width: 33.333%;
	padding: 5px 10px;
}

@media(max-width: 767px){
	.post-large {
		background: none;
		margin-bottom: 0;
	}
	.main-menu{
		list-style-type: none;
		background-color: #e0e0e0;
		padding: 10px;
		display: none;
		margin-bottom: 0px;
	}
	.main-menu .sub-menu{
		list-style-type: none;
	}
	.main-menu a{
		color: #000;
		text-transform: uppercase;
		font-weight: 500;
		display: block;
		padding: 2px 10px;
		font-size: 14px;
	}
	.wrap-header{
		height: 60px;
		display: flex;
		align-items: center;
		position: relative;
		border-bottom: 2px solid #00ae42;
	}
	.wrap-header .show-menu{
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    height: 100%;
	    width: 80px;
	    padding: 18px;
	    font-size: 26px;
	}
	.logo-top{
		height: 55px;
		display: block;
		margin: auto;
	}
	footer{
		background-color: #ebebeb;
	}
	.logo-footer{
		display: block;
		margin: auto;
	}
	
	.nav-right{
		display: none;
	}
	.section-2{
		padding-top: 30px;
	}
	.section-2 .wrap-dichvu .owl-item.center{
		padding-top: 0px;
	}
	.section-2 .wrap-dichvu .owl-item img{
		
	}
	body.page-template-home-page .section-4 .tabs{
		justify-content: flex-end;
	}
	body.page-template-home-page .section-4 .tabs .tab-link{
		width: 100%;
		display: block;
		padding-right: 0px;
		text-align: right;
		margin-bottom: 10px;
	}
}
.page-banner img {
	width: 100%;
}
.crumbs {
	margin-top: 25px;
	padding-left: 0;
}
.crumbs li {
	list-style: none;
	display: inline-block;
	color: #00BB6D;
}
.crumbs li a {
	color: #9DABAF;
}
.crumbs li a:hover {
	color: #00BB6D;
}
.crumbs span {
	color: #9DABAF;
	margin-left: 5px;
	margin-right: 5px;
}
.page-title {
	font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 40px;
/* or 48px */
border-bottom:  0.5px solid #000000;
padding-bottom: 10px;
letter-spacing: 0.05em;
text-transform: uppercase;

/* A12 */

color: #2F4857;
}
.section {
	margin-top: 80px;
	margin-bottom: 80px;
}
.section-reason {
	background: url(../../../../../../themes/hongngoc/images/about/bg-reason.png) center no-repeat;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-reason h4 {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin-top: 40px;
}
.section-reason p {
	color: #fff;
	font-weight: 300;
	margin-top: 10px;
}
.section-charity .row {
	align-items: center;
}
.section-charity .row .more{
	line-height: 31px;
}
.section-charity h2 {

	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 150%;
	/* or 39px */

	text-transform: uppercase;
	margin-bottom: 40px;
}
 .more {
	background: #00BB6D;
	border-radius: 4px;
	display: inline-block;
	padding: 5px 12px;
	color: #fff;
	text-align: center;
}
.section-charity .d-flex {
	margin-top: 25px;
}
.section-charity .d-flex img:first-child {
	margin-right: 25px;
}

.item-library {
	margin-top: 30px;
	
}
.item-library .thumb {
	overflow: hidden;
}
.item-library .thumb img {
	transition: all 0.3s;
}
.item-library .thumb img:hover {
	transform: scale(1.2);
}
.item-library h4 {
	font-style: normal;
/*font-weight: 300;*/
font-size: 14px;
line-height: 150%;
/* or 21px */


/* A12 */

color: #2F4857;
margin-top: 15px;
}

.diagram {
	margin-top: 65px;
}

.bookmarks ul {
	list-style: none;
	padding-left: 0;
	margin-left: -12px;
	margin-right: -12px;
	text-align: justify;
}

.bookmarks ul li {
	display: inline-block;
	margin: 9px 12px;
	cursor: pointer;
	font-size: 12px;
}
.bottom-contact-page {
	background: #2F4857;
	padding: 25px;
	color: #fff;
	font-weight: 600;
}
.bottom-contact-page a,.bottom-contact-page h3 {
	display: block;
	color: #fff;
}
.package-slide .item {
	padding: 10px;
}
.package-slide .item p {
	margin-top: 15px;
	font-weight: bold;
}

.package-slide .owl-nav [class*=owl-] {
	width: 40px;
    height: 40px;
    border-radius: 50%!important;
    background: #fff;
    color: #0D100C;
    border: 1px solid #9DABAF;
    line-height: 40px;
	opacity: 1!important;
	text-align: center;
}
.package-slide .owl-prev {
	left: -10px;
	position: absolute;
	top: 35%;
}
.package-slide .owl-next {
	right: -10px;
	position: absolute;
	top: 35%;
}
.package-slide .owl-nav [class*=owl-]:hover {
	background: #00BB6D;
    border-color: #00BB6D;
    color: #fff;
}
.bookmarks ul li.active,.bookmarks ul li:hover {
	color: #00BB6D;
}
.diagram-slide .owl-prev, .diagram-slide .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #9DABAF;
	color: #9DABAF;
	text-align: center;
	line-height: 40px;
	transition: all 0.3s;
}
.diagram-slide .owl-prev:hover, .diagram-slide .owl-next:hover {
	color: #fff;
	background: #00BB6D;
	border-color: #00BB6D;
}
.diagram-slide .owl-prev {
	left: -20px;
}
.diagram-slide .owl-next {
	right: -20px;
}
.list-doctor {
	margin-top: 65px;
}
.list-doctor .item {
	border: 1px solid #9DABAF;
	margin-bottom: 32px;
}
.list-doctor .item h4 {
	font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 150%;
/* or 21px */


/* A12 */

color: #2F4857;
margin: 13px 9px 19px 9px;
}
.list-doctor .item p {
	margin-left: 9px;
	margin-right: 9px;
	font-size: 12px;
}
.services {
	background: #F2F3F8;
	padding: 25px 55px;
	margin-top: 60px;
}
.services .section-title {
	border-bottom: 0.5px solid #2F4857;
	padding-bottom: 5px;
}

.departments {
	list-style: none;
	padding-left: 0;
}
.departments li a {
	color: #2F4857;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	display: flex;
	margin-top: 20px;
	align-items: center;
	transition: all 0.3s;
	cursor: pointer;
	
}
.departments li img {
	margin-right: 20px;
	transition: all 0.3s;
	filter: saturate(0);
}
.departments li img:hover{
	filter: saturate(1);
}

.hot-news {
	margin-top: 30px;
}
 .widget-title {
	background: #00BB6D;
	padding-left: 30px;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 20px;
}
 .item-news {
	padding: 24px 32px;
	background: #F2F3F8;
	border-bottom: 1px solid #fff;
}
.sidebar ul {
	list-style: none;
	padding-left: 0;
}
.widget_search form div {
	display: flex;
	margin-bottom: 30px;
}
.item-news h4 {
	font-size: 14px;
	line-height: 150%;
}
.item-news h4 a {
	color: #2F4857;
	font-weight: bold;
}
.item-news h4 a:hover {
	color: #00ae42;
}
.form-sidebar {
	background: #F2F3F8;
	padding: 15px 25px;
	margin-top: 30px;
}
.form-sidebar select, .form-sidebar input{
	width: 100%;
	height: 47px;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 15px;
	border: none;
	padding-left: 15px;
}
.form-sidebar select {
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;      
   background-image: url(../../../../../../themes/hongngoc/images/about/dropdown.png);   
   background-position: 95% 12px;
   background-repeat: no-repeat;
   font-weight: bold;
}

.form-sidebar p {
	margin-bottom: 0;
}
.form-sidebar h3 {
	color: #2F4857;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	text-transform: uppercase;
}
.form-sidebar h3:after {
	background: #00BB6D;
	width: 8px;
	height: 18px;
	position: absolute;
	top: 0;
	left: -24px;
	content: '';
}
.service-ads {
	margin-top: 50px;
}
.service-ads img {
	width: 100%;
}
.list-service {
	background: #F2F3F8;
	padding: 25px 55px;
    margin-top: 50px;
}
.list-service ul {
	list-style: none;
	padding-left: 0;
}
.list-service h3 {
	border-bottom: 0.5px solid #2F4857;
}
.list-service ul li {
	color: #2F4857;
	font-weight: bold;
	margin-top: 20px;
}
.service-form {
	background: #F2F3F8;
	margin-top: 50px;
	padding: 25px 90px;
}
.appointment-form .form-group {
	align-items: center;
}
.form-group label {
	width: 33.33%;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	/* identical to box height, or 27px */


	/* A12 */

	color: #2F4857;
}
.form-group input, .form-group > select {
	width: 70%;
	height: 47px;
	line-height: 47px;
	width: 66.66%;
	background: #fff;
	color: #9DABAF;
	border: none;
	padding-left: 10px;
}
  .form-group select {
	    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../../../../../themes/hongngoc/images/about/dropdown.png);
    background-position: 98% 8px;
    background-repeat: no-repeat;
    font-weight: bold;
}
.appointment-date {
	width: 66.66%;
}
.appointment-date .group:last-child {
	margin-top: 20px;

}
.appointment-date .group input {
	width: 75%;
	margin-right: 20px;
}
.appointment-date .group select {
	width: calc(25% - 20px);
	padding-left: 10px;
	border: none;
}
.form-group:last-child label {
	align-self: self-start;
}
.content-page, .single-content {
	padding-bottom: 80px;
}
body.single-post .content-page {
	padding-top: 30px;
}
body.category .content-page {
	padding-top: 30px;
}
body.page-template-about .content-page {
	padding-top: 30px;
}
body.page-template-default .content-page {
	padding-top: 30px;
}
body.page-template-doctors .content-page {
	padding-top: 30px;
}
body.single-dotor .content-page {
	padding-top: 30px;
}
.wp-caption-text{
	text-align: center !important;
	margin-top: 10px;
}
.about-department {
	background: #2F4857;
	padding: 20px 23px 40px 23px;
	margin-top: 40px;
}
.about-department h3 {
	color: #fff;
	margin-bottom: 40px;
}
.about-department .detail p {
	color: #fff;
	margin-left: 25px;
	text-align: justify;
}
.about-department .detail img{
	object-fit: contain;
	max-width: 240px;
}
.lh-40 {
	line-height: 40px;
}
.service-page .feature {
	margin-top: 40px;
}
.service-page .feature p {
	margin-bottom: 10px;
}
.service-page .feature h3 {
	margin-bottom: 20px;
}
.specialized-services {
	background: #F2F3F8;
	padding: 30px 24px;
	margin-top: 55px;
}
.service-page .doctors {
	background: #2F4857;
	padding: 25px;
	margin-top: 10px;
}
.doctors .section-title {
	color: #fff;
	margin-bottom: 30px;
}
.service-page .doctors p {
	color: #fff;
}
.service-page .doctors .thumb {
	margin-right: 25px;
	min-width: 250px;
}
.service-page .doctors .thumb img {
	margin-bottom: 25px;
	/*width: 230px;*/
	width: 100%;
	max-width: 280px;
}
.infrastructure {
	margin-top: 45px;
}
.infrastructure h3 {
	margin-bottom: 20px;
}
.infrastructure .list-item {
	border: 0.5px solid #2F4857;
	box-sizing: border-box;
	padding: 0 25px;
}
.infrastructure .list-item .item {
	display: flex;
	border-bottom: 0.5px solid #000000;
	padding-bottom: 25px;
	margin-top: 25px;
	align-items: flex-start;
}
.infrastructure .list-item .item:last-child {
	border: none
}
.infrastructure .list-item .item img {
	margin-right: 25px;
	object-fit: contain;
}
.page-simple h3 {
	/*font-size: 26px;*/
	/*text-transform: uppercase;*/
	/*line-height: 150%;*/
}
.page-simple table{
	width: 100% !important;
}
.list-package .item {
	margin-top: 50px;
}
.list-package .item img {
	margin-right: 25px;
}
.list-package .item .detail h4 {
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	/* or 27px */

	text-transform: uppercase;
}
.bg-grey {
	background: #F2F3F8;
	padding: 24px 32px;
	margin-bottom: 40px;
}
.bg-grey p {
	font-weight: 600;
	margin-top: 30px;
}
.bg-dark-custom {
	background: #2F4857;
	text-align: center;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	/*line-height: 150%;*/
	margin-bottom: 30px;
}
.page-ralated {
	flex-wrap: wrap;
}
.page-ralated a {
	height: 40px;
	background: #00BB6D;
	font-weight: 600;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	line-height: 40px;
	display: block;
	padding: 0px 20px;
	margin-right: 10px;
	font-size: 14px;
}
.page-ralated a:hover {
	background: #2F4857;
}
.page-simple p {
	display: block;
	text-align: justify;
	overflow: hidden;
}
.page-simple li{
	text-align: justify;	
}
.steps {
	margin-bottom: 25px;
}
.step-tem {
	position: relative;
	margin-top: 35px;
	/*display: flex;*/
	/*height: 65px;*/
}
.step-tem:after {
	content: '';
	clear: both;
}
.number-step {
/*	border: 2px solid #00BB6D;
	box-sizing: border-box;
	border-radius: 50%;
	width: 68px;
	height: 68px;
	float: left;
	margin-right: 25px;
	text-align: center;
	color: #00BB6D;
	position: relative;
	line-height: 63px;
	padding-top: 0px;*/
}
.number-step::after {
	/*position: absolute;
	content: '';
	top: 100%;
	height: 35px;
	width: 1px;
	background-color: #00BB6D;
	left: 50%;*/
}
.step-tem:last-child .number-step::after {
	display: none;
}
.content-step {
	width: calc(100% - 93px);
}
.number-step span {
	/*display: block;
	font-size: 26px;
	font-weight: bold;*/
}
.content-step p {
	margin-bottom: 5px;
}
body.page-template-faqs .card .btn{
	padding-left: 0px;
}
body.page-template-faqs .card .card-header{
	padding-left: 0px;
}
.card {
	margin-top: 25px;
	border: 1px solid #E0E0E0;
}
.card-header {
	padding: 10px 5px;
	box-sizing: border-box;
	border-radius: 5px;
	background: none;
	color: #2F4857;
	font-weight: bold;
    border-bottom: none;
}
.card-header button {
	color: #2F4857;
	font-weight: bold;
	width: 100%;
	text-align: left;
}
.card-header button i {
	float: right;
}
.card-header button i.fa-caret-up {
	display: none;
}
.card-header.active button i.fa-caret-up {
	display: block;
}
.card-header.active button i.fa-caret-down {
	display: none;
}
.card-header button:hover {
	text-decoration: none;
}
.card{
	padding-left: 15px;
	padding-right: 15px;
}
.card-body {
	padding: 0;
}
.collapse.show {
	border-top: 1px solid #E0E0E0;
	padding: 15px 0;
}
.cooperate {
	background: #2F4857;
	padding: 30px 65px;
}
.cooperate input {
	width: 100%;
}
.cooperate .wpcf7-submit.more {
	margin-top: 0;
	margin-bottom: 0;
	float: right;
}
.feature-post {
	background: #2F4857;
	padding: 25px;
}
.feature-post h3 {
	font-weight: bold;
	font-size: 26px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom: 0.5px solid #FFFFFF;
	margin-bottom: 30px;
}
.feature-post h3 a {
	color: #FFFFFF;
}
.feature-post .post-large {
	position: relative;
	margin-bottom: 30px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63.21%, #FFFFFF 96.61%);
}
.feature-post .post-large::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: 10;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63.21%, #FFFFFF 96.61%);
}
.feature-post .post-large img {
	width: 100%;
	max-height: 370px;
	object-fit: cover;
}
.feature-post .post-large h4 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	z-index: 11;
}
.feature-post .post-large h4 a {
	font-size: 20px;
	line-height: 150%;
	color: #2F4857;
}
.feature-post .post-small img {
	max-height: 180px;
	width: 100%;
	object-fit: cover;
}
.feature-post .post-small h4 {
	margin-top: 25px;
}
.feature-post .post-small h4 a {
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}
.post-by-cat {
	margin-top: 70px;
}
.post-by-cat h3 {
	font-weight: bold;
	font-size: 26px;
	line-height: 150%;
	text-transform: uppercase;
	color: #2F4857;
	border-bottom: 0.5px solid #2F4857;
	margin-bottom: 45px;
}
.post-by-cat h3 a {
	color: #2F4857;
}
.post-by-cat .post-large  img {
	width: 100%;
	max-height: 195px;
	object-fit: cover;
}
.post-by-cat .post-large h4 {
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	margin-top: 25px;
}
.post-by-cat .post-large h4 a {
	color: #2F4857;
}
.post-by-cat .post-small .thumb {
	width: 30%;
	margin-right: 10px;
}
.post-by-cat .post-small .thumb img {
	height: 75px;
	object-fit: cover;
	width: 100%;
}
.post-by-cat .post-small {
	margin-top: 25px;
}
.post-by-cat .post-small h4 {
	width: calc(70% - 10px);
	line-height: 75%;
	margin-top: 5px;
}
.post-by-cat .post-small h4 a {
	font-weight: bold;
	font-size: 14px;
	color: #2F4857;
}
.first-post img {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}
.first-post h4 {
	margin-top: 25px;
	line-height: 1.2;
}
.first-post h4 a {
	color: #2F4857;
	font-size: 24px;
}
.normal-post img {
	max-height: 195px;
	object-fit: cover;
	width: 100%;
}
.normal-post {
	margin-top: 40px;
}
.normal-post h4 {
	margin-top: 20px;
	line-height: 75%;
}
.normal-post h4 a {
	color: #2F4857;
	font-size: 16px;
}
.pagination {
	margin-top: 70px;
}
.pagination a, .pagination span {
	display: inline-block;
	height: 24px;
	text-align: center;
	color: #9DABAF;
	padding: 0px 12px;
}
.pagination span {
	color: #2F4857;
}
.pagination a.next, .pagination a.prev {
	border-radius: 50%;
	border: 1px solid #9DABAF;
	width: 24px;
	padding: 0px;
}
body.category .pagination a.next{
	background-image: url(../../../../../../themes/hongngoc/images/icon-right.png) !important;
    background-size: 5px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
body.category .pagination a.prev{
	background-image: url(../../../../../../themes/hongngoc/images/icon-left.png) !important;
    background-size: 5px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.pagination a.next:hover, .pagination a.prev:hover {
	color: #fff!important;
	background:  #00BB6D;
	border-color:  #00BB6D;
}
.related-post {
	background: #2F4857;
	padding: 25px;
}
.related-post h3 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 18px;
}
.related-post .item-news {
	background: none;
	padding: 0;
	border: none;
	margin-top: 25px;
	align-items: center;
}
.related-post .thumb {
	width: 20%;
	margin-right: 25px;
}
.related-post .thumb img {
	height: 63px;
	width: 100%;
	object-fit: cover;
}
.related-post h4 {
	width: calc(80% - 25px);
}
.related-post h4 a {
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}
.item-recruitment {
	margin-top: 50px;
}
.item-recruitment .thumb {
	width: 35%;
	margin-right: 25px;
}
.item-recruitment .thumb img {
	max-height: 155px;
	width: 100%;
	object-fit: cover;
}
.item-recruitment .info {
	width: calc(65% - 25px);
}
.item-recruitment .info h3 {
	line-height: 1;
}
.item-recruitment .info h3 a {
	font-weight: bold;
font-size: 18px;

text-transform: uppercase;

/* A12 */

color: #2F4857;
}
.item-recruitment .info .date {
	margin-bottom: 0;
}
.detail-recruiment {
	background: #2F4857;
	color: #fff;
	padding: 22px 24px;
	margin-bottom: 40px;
}
.detail-recruiment h4 {
	font-size: 18px;
	margin-bottom: 0;
}
.list-meta {
	display: flex;
	flex-wrap: wrap;
}
.list-meta .item-meta {
	margin-right: 50px;
	margin-top: 25px;
}
.list-meta .item-meta img {
	margin-right: 15px;
}
.other-recruiment {
	margin-top: 0;
}
.item-doctor {
	margin-top: 64px;
}
.item-doctor .thumb {
	width: 30%;
	margin-right: 30px;
}
.item-doctor .thumb img {
	height: auto;
	width: 100%;
	object-fit: cover;
}
.item-doctor .info h3 a {
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	color: #00BB6D;
}
.item-doctor .info p img {
	margin-top: -5px;
	margin-right: 5px;
        width: 20px;
}
.search-group {
	margin-top: 30px;
}
.search-group .form-group input, .search-group select {
	border: 1px solid #9DABAF;
	margin-right: 5px;
	height: 32px;
	line-height: 32px;
	width: 100%;
	background-position: 98% 3px;
}
.search-group .form-group {
	width: 36%;
	margin-right: 2px;
}
.search-group .form-group:first-child {
	width: 25%;
}
.search-group button.more {
	width: 32px!important;
	height: 32px!important;
	background-color: #00BB6D;
	display: flex;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	color: transparent;
	border: 1px solid #00BB6D;
	cursor: pointer;
	margin-top: 0;
}
.search-group button:focus {
	outline: none;
}
.single-content .page-title {
	font-size: 26px;
}
.list-info .item .title {
	width: 30%;
	font-weight: 700;
}
.list-info table td{
	vertical-align: initial;
	text-align: justify;
}
.achievement h3, .advisory h3 {
	background: #F2F3F8;
	font-weight: bold;
	font-size: 26px;
	text-transform: uppercase;
	height: 48px;
	line-height: 48px;
	padding-left: 25px;
	margin-top: 90px;
	margin-bottom: 25px;
}
.advisory .item-post {
	display: flex;
	flex-wrap: wrap;
    margin-top: 25px;
}
.advisory .item-post .thumb {
	width: 35%;
	margin-right: 25px;
}
.advisory .item-post .info {
	width: calc(65% - 25px);
}
.advisory .item-post .info h4 a {
	font-size: 16px;
	font-weight: 700;
}

.modal .modal-dialog {
	height: 100%;
}
.modal .modal-content {
	background: url(../../../../../../themes/hongngoc/images/modal-1.png) center no-repeat;
	background-size: cover;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   width: 800px;
   color: #fff;
   height: auto;
}

.modal-close {
	position: absolute;
	right: 0;
	z-index: 1000;
	top: 0;
	width: 40px;
	height: 40px;
	color: transparent;
	background: url(../../../../../../themes/hongngoc/images/close.png) center no-repeat;
	border: none;
}
.modal-body {
	padding: 40px 55px;
}
.modal-body h2 {
	font-weight: bold;
	font-size: 26px;
	line-height: 150%;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.modal-body .list-time p  {
	display: flex;
	margin-top: 30px;
}
.modal-body .list-time p > span {
	width: 50%;
	font-weight: bold;
}
.modal-body .list-time p span span {
	color: #00BB6D;
}
.modal-body .contact {
	margin-top: 45px;
}
.modal-body .contact a {
	display: inline-block;
	background: #00BB6D;
	border-radius: 4px;
	width: 164px;
	height: 32px;
	font-size: 16px;
	color: #fff!important;
	line-height: 32px;
	text-align: center;
}
.modal-body .contact a {
	display: inline-block!important;
	margin-right: 5px;
} 
.appointment-form-popup .form-group {
	display: flex;
	align-items: center;
}
.appointment-form-popup .form-group label {
	color: #fff;
	width: 30%;
	font-size: 14px;
	font-weight: normal;
}
.appointment-form-popup .form-group input, .appointment-form-popup .form-group select {
	width: 70%;
	border: none;
	height: 40px;
	padding-left: 10px;
}
.appointment-form-popup  .wpcf7-submit.more {
	margin-top: 10px;
	float: right;
	background: #00BB6D;
	border-radius: 4px;
	width: 140px;
	height: 32px;
	color: #fff;
	text-align: center;
}
.appointment-form-popup button {
	border: none;
	float: right;
	background: #00BB6D;
	border-radius: 4px;
	width: 110px;
	height: 32px;
	color: #fff;
	text-align: center;
}
.modal {
	background-color: rgba(0, 0, 0, .2);
	z-index: 99999;
}
.modal-backdrop {
	display: none;
}
.item-add {
	align-items: baseline;
}
.item-add img {
	margin-right: 5px;
}
.wrap-header .top-info {
	position: relative;
	z-index: 10;
	padding-top: 10px;
}
.wrap-header .top-info .container {
	position: relative;
}
.search-form-wrapper {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
	padding: 12px;
	z-index: 99999;
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
.search-form-tigger {
	cursor: pointer;
}
.search-form-wrapper.open {
    display: block;
}

#searchform button {
	width: 32px;
	height: 32px;
	border: none;
	line-height: 32px;
	background: #00BB6D;
	color: #fff;
}
#searchform input {
	width: 222px;
height: 32px;

/* White */

background: #FFFFFF;
/* a14 */

border: 1px solid #9DABAF;
box-sizing: border-box;
padding-left: 10px;
}
.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}
.tab-content .ovh img {
	max-height: 220px;
	width: 100%;
	object-fit: cover;
}
.wrap-dichvu {
	position: relative;
}
.wrap-dichvu .owl-nav.disabled {
	display: block!important;
}
.wrap-dichvu .owl-nav .owl-prev  {
	top: 35%;
	position: absolute;
	left: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 33px;
	border: 1px solid #9DABAF;
	background: #fff;
	color: #0D100C;
}
.wrap-banner .owl-nav .owl-prev {
	top: 50%;
	position: absolute;
	left: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 33px;
	border: 1px solid #9DABAF;
	background: #fff;
	color: #0D100C;
	transform: translateY(-50%);
}
.wrap-dichvu .owl-nav .owl-next   {
	top: 35%;
	position: absolute;
	right: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 33px;
	border: 1px solid #9DABAF;
	background: #fff;
	color: #0D100C;
	
}
.wrap-banner .owl-nav .owl-next {
	top: 50%;
	position: absolute;
	right: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 33px;
	border: 1px solid #9DABAF;
	background: #fff;
	color: #0D100C;
	transform: translateY(-50%);
}
.wrap-dichvu .owl-nav .owl-next:hover ,.wrap-dichvu .owl-nav .owl-prev:hover, .wrap-banner .owl-nav .owl-next:hover ,.wrap-banner .owl-nav .owl-prev:hover {
	background-color: #00BB6D;
	color: #fff;
	border-color: #00BB6D;
}
.gallery-slide .owl-nav {
	position: absolute;
	right: 0;
	top: -60px;
}
.gallery-slide .owl-nav [class*=owl-] {
	width: 40px;
	height: 40px;
	border-radius: 50%!important;
	background: #fff;
	color: #0D100C;
	border: 1px solid #9DABAF;
	line-height: 30px;
	opacity: 1!important;
}
.gallery-slide .owl-nav [class*=owl-]:hover {
	background: #00BB6D;
	border-color: #00BB6D;
	color: #fff;
}
.header-mobile {
	position: relative;
	background: #fff;
}

.mobile-logo {
	text-align: center;
	padding-top: 7px;
}
.header-mobile .mobile-menu {
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
    height: auto;
    background-color: #fff;
    z-index: 99999;
    border-top: 2px solid #00BB6D;
    display: none;
    padding: 15px;
    margin-left: -15px !important;
    margin-right: -15px !important;
    width: 100%;
}
.mobile-menu .current-menu-item > a {
	color: #00BB6D;
}
.mobile-menu > li > a {
	color: #2F4857;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #F2F3F8;
	padding: 15px 0;
}

.mobile-menu li .sub-menu {
	padding-left: 10px;
	border-bottom: 1px solid #F2F3F8;
}
.mobile-menu li .sub-menu li a {
	padding: 15px 0;
	display: block;
}
.mobile-menu > li > a:hover {
	color: #00BB6D;
}
.mobile-menu li ul {
	list-style: none;
}
.mobile-menu > li {
	position: relative;
}
.submenu-button {
	position: absolute;
	right: -45px;
	top: 0;
	transform: translateX(-50%);
	color: #0D100C;
	text-align: center;
	line-height: 53px;
	width: 53px;
	height: 53px;
	z-index: 10;
}
.submenu-button .fa-angle-up {
	display: none;
}
.submenu-button.active .fa-angle-up {
	display: inline-block;
}
.submenu-button.active .fa-angle-down {
	display: none;
}
.button_container {
	position: absolute;
	top: 50%;
	left: 16px;
	height: 20px;
	width: 30px;
	cursor: pointer;
	z-index: 100;
	transform: translateY(-50%);
	transition: opacity 0.25s ease;
}
.mobile-meta {
	position: absolute;
	top: 50%;
	right: 16px;
	
	cursor: pointer;
	z-index: 100;
	transform: translateY(-50%);
	
}
.mobile-meta img {
	width: 20px;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
}
.button_container.active .middle {
  opacity: 0;
 
}
.button_container.active .bottom {
  transform: translateY(-5px) translateX(0) rotate(-45deg);
 
}
.button_container span {
  background: #9DABAF;
  border: none;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 8px;
}
.button_container span:nth-of-type(3) {
  top: 16px;
}
#bookmark-select {
	border: 1px solid #9DABAF;
	height: 40px;
	width: 100%;
	margin-bottom: 30px;
	padding-left: 10px;
	color: #2F4857;
}
.doctor-slide .owl-dots {
	text-align: center;
}
.doctor-slide .owl-dot  {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #9DABAF;
	border-radius: 50%;
	margin: 0 7px;
}
.doctor-slide .owl-dot.active {
	background: #9DABAF;
}
.widget_polylang {
	display: inline-block;
}
.widget_polylang ul {
	list-style: none;
	padding-left: 0;
}
.widget_polylang ul li a {
	font-weight: bold;
	font-size: 16px;
}
.doctors  .detail .more {
	padding: 5px 0!important;
	line-height: 34px;
}
.blog-1  div {
	align-items: center;
}
.blog-1 img {
	max-height: 45px;
}
.switch-lang {
	display: flex;
	list-style-type: none;
	margin-left: 20px;
	align-items: center;
}
.switch-lang > *{
	margin-left: 5px;
}
.sidebar-item{
	margin-bottom: 30px;
}
.sidebar-item .sidebar-title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-bottom: 0px;
	background-color: #00BB6D;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0px 20px;
	letter-spacing: 1px;
}
.sidebar-item.news .content{
	padding: 20px;
	background-color: #F2F3F8;
}
.sidebar-item.news .content p{
	color: #2F4857;
	font-weight: 700;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	padding: 10px 0px;
}
.section-5{
	position: relative;
	background-color: #000;
	height: 550px;
}
.btn-call-footer{
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 45px;
	height: auto;
	z-index: 999;
}
body.home .section-5 .overlay{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0 ,0, 0.7);
	display: none;
}
.section-5 iframe{
	opacity: 0.3;
	transition: all 0.2s ease-in;
}
.section-5 iframe:hover{
	opacity: 1;
}
body.page-template-news .tin-noi-bat .item-post-feature{
	position: relative;
	margin-bottom: 10px;
}
body.page-template-news .tin-noi-bat .item-post-feature .content{
	/*position: absolute;
	bottom: 0px;
	left: 0px;*/
	width: 100%;
	padding: 15px;
	color: #000;
	font-size: 16px;
	font-weight: 700;
}
body.page-template-news .tin-noi-bat .item-post-feature .content p{
	color: #fff;
}
body.page-template-about .content-1 .content-full{
	display: none;
}
body.page-template-about .content-1 .show-less{
	display: none;
	cursor: pointer;
}
body.page-template-about .content-1 .show-more{
	cursor: pointer;
}

body.page-template-about .content-1.active .content-full{
	display: block;
}
body.page-template-about .content-1.active .show-less{
	display: block;
}
body.page-template-about .content-1.active .show-more{
	display: none;
}
body.page-template-about .content-1.active .description{
	display: none;
}
.sidebar .widget.widget_recent_entries ul{
	background-color: #f0f0f0;
}
.sidebar .widget.widget_recent_entries ul li{
	border-bottom: 1px solid #ccc;
	text-align: justify;
}
.sidebar .widget.widget_recent_entries ul li a{
	display: block;
	padding: 18px 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}
.sidebar .widget.widget_recent_entries ul li a:hover{
	color: #00BB6D;
}
.sidebar .widget.nsfp_featured_post_widget ul{
	background-color: #f0f0f0;
}
.sidebar .widget.nsfp_featured_post_widget ul li{
	border-bottom: 1px solid #ccc;
}
.sidebar .widget.nsfp_featured_post_widget ul li a{
	display: block;
	padding: 9px 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}
.sidebar .widget.nsfp_featured_post_widget ul li a:hover{
	color: #00BB6D;
}

.sidebar .widget.widget_text ul{
	background-color: #f0f0f0;
}
.sidebar .widget.widget_text ul li{
	border-bottom: 1px solid #ccc;
}
.sidebar .widget.widget_text ul li a{
	display: block;
	padding: 9px 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}
.sidebar .widget.widget_text ul li a:hover{
	color: #00BB6D;
}

.sidebar .widget_search{
	background-color: #f5f5f5;
	padding: 10px;
	margin-bottom: 20px;
}
.sidebar .widget_search form > div{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0px;
}
.sidebar .widget_search form  input{
	margin: 0px 5px !important;
	display: block;
}
.sidebar .widget_search form  input[type="text"]{
	width: 215px !important;
}
.sidebar .widget_search form label{
	display: none;
	white-space: nowrap;
}
.sidebar .widget_search  input[type="submit"]{
	width: 105px;
}

.sidebar .widget-title{
	margin-bottom: 0px;
}
.sidebar .widget_media_image > div{
	max-width: 100%;
}
.sidebar .widget_media_image img{
	max-width: 100%;
	height: auto;
}
.sidebar .widget_media_image .wp-caption-text{
	font-weight: bold;
	text-align: left !important;
}
.comment-facebook iframe{
	width: 100%;
}
body.page-template-homepage-beta a.more{
	height: 34px !important;
}
.icon-chat-facebook{
	position: fixed;
	bottom: 15px;
	right: 20px;
	width: 55px;
	height: auto;
	z-index: 999999;
}
@media(max-width: 1200px) {
	.main-menu > li > a {
		font-size: 12px;
	}
}
@media(min-width: 992px) AND (max-width: 1024px){
	.wrap-header{
		/*overflow-x: hidden;*/
		display: none !important;
	}
	body.home .section-3 .wrap-doctor{
		display: block !important;
	}
	body.home .section-3 .wrap-doctor > img{
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}
	.main-menu > li.mega .sub-menu{
		width: 600px !important;
	}
	.header-mobile{
		display: block !important;
	}
	.switch-lang-mobile {
	    position: absolute;
	    top: 42px;
	    right: 20px;
	    display: flex;
	    list-style-type: none;
	}
	.mobile-meta {
	    right: 105px !important;
	}
}
@media(max-width: 992px) {
	.about-department .detail{
		display: block !important;
	}
	.about-department .detail > img{
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}
	body.single-chuyen_khoa .doctors .detail{
		display: block !important;
	}
	body.single-chuyen_khoa .doctors .detail .thumb{
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.section-1 .content .item {
		padding-left: 15px;
		justify-content: flex-start;
	}
	.section-1 {
		margin-top: 10px;
	}
	.section-1 .content {
		flex-wrap: wrap;
		height: auto;
		z-index: 9999;
	}
	.section-1 .content .item {
		width: 50%;
	}
    .section-1 .content .item-2:after,  .section-1 .content .item-4:after {
		display: none;
	}
	.section-1 .content .item-3,  .section-1 .content .item-4 {
		margin-top: 10px;
	}
	.modal .modal-content {
		width: 95%;
		overflow-y: scroll;
	}
	.modal .modal-content::-webkit-scrollbar {
		width: 8px;
	  }
	  
	  .modal .modal-content::-webkit-scrollbar-track {
		background: transparent;
	  }
	  
	  .modal .modal-content::-webkit-scrollbar-thumb {
		background: #ccc;
		border-radius: 4px;
	  }
	  .sidebar .widget_search form input[type="text"]{
	  	max-width: 100px !important;
	  }
}
@media(max-width: 767px) {
	.section-3 .blog-1 > div > div{
	    display: block !important;
	    align-items: center;
	    margin-left: 0px !important;
	    width: 100%;
	}
	.section-3 .blog-1 > div > div img{
		margin: auto;
		display: block;
	}
	.section-3 .blog-1 > div > div .pl-3{
		padding-left: 0px !important;
	}
	.copy-right{
		font-size: 10px !important;
	}
	.sticky .logo-top {
	    height: 55px;
	}
	.feature-post .post-large {
		background: none;
		margin-bottom: 0;
	}
	.feature-post .post-large h4 {
		position: static;
		padding: 10px 0;
	}
	.feature-post .post-small h4 {
		margin-top: 0;
	}
	.feature-post .post-small h4 a {
		padding: 10px 0;
	}
	.feature-post .post-large h4 a {
		color: #fff;
	}
	.feature-post .post-large::after {
		display: none;
	}
	.fs36 {
		font-size: 32px;
	}
	.fs36 br {
		display: none;
	}
	.wrap-dichvu .owl-nav .owl-prev, .wrap-dichvu .owl-nav .owl-next {
		top: 25%;
	}
	.blog-2 .d-flex {
		flex-wrap: wrap;
		justify-content: center;
	}
	.section-3 .pl-3 {
		text-align: center;
	}
	.blog-2 .fs18 {
		margin-top: 10px;
	}
	.section-4 .tabs {
		flex-wrap: wrap;
	}
	.section-4 .tabs li {
		padding-left: 0;
		padding-right: 40px;
	}
	.section-4 {
		position: relative;
	}
	.section-4 .more {
		position: absolute;
		bottom: 60px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.section-charity p {
		margin-top: 30px;
		
	}
	.out-more {
		text-align: center;
	}
	.sidebar {
		display: none;
	}
	.appointment-form label {
		display: none;
	}
	.normal-post h4 a,.first-post h4 a, .feature-post .post-large h4 a, .feature-post .post-small h4 a, .post-by-cat .post-large h4 a{
		font-size: 14px;
	}
	.search-group {
		flex-wrap: wrap;
	}
	.search-group .form-group, .search-group .form-group input, .search-group .form-group select, .search-group .form-group:first-child {
		width: 100%;
	}
	.search-group button i {
		display: none;
	}
	.search-group button.more {
		width: auto!important;
		height: auto!important;
	}
	.item-doctor .thumb {
		width: 45%;
		margin-right: 15px;
	}
	.item-doctor .thumb img {
	    object-fit: contain;
	    width: 115px;
	    width: 150px;
	    width: 140px !important;
	    max-width: initial;
	}
	.section-2 {
		padding-bottom: 0;
	}
	.list-service ul {
		margin-bottom: -5px;
	}
	.form-group select, .form-group input {
		width: 100%;
	}
	.doctors .detail .thumb, .doctors .detail > div, .doctors .detail .thumb img {
		width: 100%;
	}
	.doctors .detail .thumb img {
		max-height: 200px;
		object-fit: cover;
	}
	.sticky {
		height: 77px;
	}
	.search-form-tigger .fa-search{
		font-size: 22px;
	}
	.wrap-banner .owl-dots{
		bottom: 0px;
	}
}

